.wrapper {
  background-color: black;
}

section {
  height: auto;
}

#jumbotron-even {
  background-color: #eff0f0;
  margin-bottom: 0;
}

#jumbotron-uneven {
  background-color: #252626;
  margin-bottom: 0;
}

.btn-outline-dark:hover {
  background: #252626;
}

.display-4 {
  text-transform:uppercase;
}
