.wrapper {
  background-color: #252626;
  width: 100%;
  height: 39em;
  align-content: center;
  font-family: Tahoma, serif;
  overflow: hidden;
  padding-top: 4em;
}

ngb-carousel {
  width: 100%;
  background-color: #252626;
}

.row {
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 5em;
}

.card {
  position: relative;
  background: none;
  border: none;
}

.img-content {
  position: absolute;
  border: 5px solid white;
  overflow: hidden;
  top: 8vh;
  left: 5vh;
  right: 5vh;
  border-radius: 50%;
  height: 40vh;
  width: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.card-body {
  width: 100%;
  height: 24em;
  display: block;
  text-align: center;
  padding-top: 52vh;
  padding-bottom: 5vh;
  background: #252626;
  color: #fff;
  border-radius: 5px;
}

.card-title {
  font-size: 25px;
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
}

.blockquote-footer {
  font-size: 20px;
}


