<div class="wrapper">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let i of splitBy(3, collection)">
      <div class="row" *ngIf="i % 3 == 0">
        <div class="card-columns">
          <div class="card" *ngIf="collection[i]">
            <div class="img-content">
              <img class="card-img-top" src="{{collection[i].image}}" alt="{{collection[i].name}}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{collection[i].name}}</h5>
              <footer class="blockquote-footer">
                <small class="text-muted text-light">Member of agency <cite
                  title="Source Title">{{collection[i].agency}}</cite></small>
              </footer>
            </div>
          </div>
          <div class="card" *ngIf="collection[i + 1]">
            <div class="img-content">
              <img class="card-img-top" src="{{collection[i + 1].image}}" alt="{{collection[i + 1].name}}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{collection[i + 1].name}}</h5>
              <footer class="blockquote-footer">
                <small class="text-muted">Member of agency <cite
                  title="Source Title">{{collection[i + 1].agency}}</cite></small>
              </footer>
            </div>
          </div>
          <div class="card" *ngIf="collection[i + 2]">
            <div class="img-content">
              <img class="card-img-top" src="{{collection[i + 2].image}}" alt="{{collection[i + 2].name}}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{collection[i + 2].name}}</h5>
              <footer class="blockquote-footer">
                <small class="text-muted">Member of agency <cite
                  title="Source Title">{{collection[i + 2].agency}}</cite></small>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
