.wrapper {
  background-color: #252626;
  width: 100%;
  height: calc(100vh - 115.3px);
  align-content: center;
  font-family: Tahoma, serif;
  overflow: hidden;
}

.card-columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

ngb-carousel {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  padding-top: 9vh;
  width: 100%;
  height: 100%;
  background-color: #252626;
  padding-bottom: 8px;
}

.row {
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 1em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 24em;
  width: fit-content;
  background: none;
  border: none;
}

.card-img-top {
  border: 5px solid white;
  overflow: hidden;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  object-position: top;
  object-fit: cover;
}

.card-body {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 5vh;
  background: #252626;
  color: #fff;
  border-radius: 5px;
}

.card-title {
  font-size: 25px;
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
}

.blockquote-footer {
  font-size: 20px;
}


