<div class="wrapper">
  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <ngb-carousel *ngFor="let items of collection; index as i">-->
<!--          <ng-template ngbSlide>-->
<!--            <div class="row">-->
<!--              <div class="col-md-4">-->
<!--                <div class="single-box">-->
<!--                  <div class="img-area">-->
<!--                    <img src="{{collection[i].image}}" alt="{{collection[i].name}}" width="250px" height="250px">-->
<!--                  </div>-->
<!--                  <div class="carousel-caption">-->
<!--                    <h3>{{collection[i].name}}</h3>-->
<!--                    <p>{{collection[i].agency}}</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-4">-->
<!--                <div class="single-box">-->
<!--                  <div class="img-area">-->
<!--                    <img src="{{collection[i+1].image}}" alt="{{collection[i+1].name}}" width="250px" height="250px">-->
<!--                  </div>-->
<!--                  <div class="carousel-caption">-->
<!--                    <h3>{{collection[i+1].name}}</h3>-->
<!--                    <p>{{collection[i+1].agency}}</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-4">-->
<!--                <div class="single-box">-->
<!--                  <div class="img-area">-->
<!--                    <img src="{{collection[i+2].image}}" alt="{{collection[i+2].name}}" width="250px" height="250px">-->
<!--                  </div>-->
<!--                  <div class="carousel-caption">-->
<!--                    <h3>{{collection[i+2].name}}</h3>-->
<!--                    <p>{{collection[i+2].agency}}</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </ngb-carousel>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
