<div class="wrapper">
  <main class="content section">
    <form method="post">
      <img src="assets/png/n-white-bg.png" id="y-logo">
      <div class="form-group">
        <label class="text-light" id="loginLabel">Just read the space news!</label>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="loginInput" aria-describedby="loginHelp" placeholder="Login">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="passwordInput" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label text-light" for="check">Remember me</label>
      </div>
      <a class="btn btn-outline-light btn-lg" role="button">Sign in</a>
    </form>
  </main>
</div>
