.wrapper {
  align-content: center;
  height: calc(100vh - 115.3px);
  padding: 15vh 75vh 17vh 75vh;
  background: #252626;
  /*background: radial-gradient(#252626, black);*/
  /*background: no-repeat url("../../assets/jpg/background.jpg");*/
  /*background-size: cover;*/
}

#y-logo {
  width: 123px;
  height: 123px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  transition: 0.5s;
  border-radius: 50%;
}

#y-logo:hover {
  transform: scale(1.15);
}

.content {

  /*width: 50vh;*/
  /*height: 50vh;*/
  /*padding-top: 11vh;*/
  /*padding-bottom: 11vh;*/
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*border-color: 3px #eff0f0;*/
  border-width: 10px;
  border-color: #eff0f0;
}

.btn {
  margin-top: 11px;
  width: 100%;
}
