.wrapper {
  background-color: lavender;
  align-content: center;
  padding-top: 7vh;
  padding-left: 20vh;
  padding-right: 20vh;
}

.card-columns {
  column-count: 4;
  height: 25%;
}

.card {
  background-color: white;
  border-color: #2f3542;
  border-bottom-width: 5px;
  box-shadow: 7px -2px 10px rgba(0,0,0,0.5);
}

.card:hover {
  background-color: white;
  border-color: #2f3542;
  border-bottom-width: 5px;
  box-shadow: 7px -2px 10px rgba(0,0,0,0.5);
  transform: translate3d(42px, -62px, -135px);
}

.img-content {
  background-color: black;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.card-img-top {
  height: 25vh;
  width: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.card-title {
  color: #2f3542;
  height: 56px;
  overflow: hidden;
}

.card-text {
  color: #2f3542;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.95em;
}

