.wrapper {
  /*background-color: #252626;*/
  background-image: url('src/assets/jpg/backgrounds/scroll-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-content: center;
  padding-top: 7vh;
  padding-left: 15vh;
  padding-right: 15vh;
}

.card-columns {
  height: 25%;
  grid-column-gap: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  background-color: #eff0f0;
  border-width: 2px;
  border-color: #eff0f0;
  transition: 0.5s;
  margin-bottom: 3vh;
}

.card:hover {
  transform: scale(1.05);
}

.img-content {
  background-color: black;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.card-img-top {
  height: 25vh;
  width: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.card-title {
  color: #2f3542;
  height: 50px;
  overflow: hidden;
}

.card-text {
  color: #2f3542;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.95em;
}

.btn-outline-dark:hover {
  background: #252626;
}

