<div class="wrapper">
  <div class="card-columns">
      <div class="card" *ngFor="let items of collection">
        <div class="img-content" ngSwitch="{{items.links.patch.small}}">
          <img *ngSwitchCase="''" class="card-img-top" src="./assets/jpg/y-logo.jpg" alt="{{items.name}}">
          <img *ngSwitchDefault class="card-img-top" src="{{items.links.patch.small}}" alt="{{items.name}}">
        </div>
        <div class="card-body" ngSwitch="{{items.details}}">
          <h5 class="card-title">{{items.name}}</h5>
          <p *ngSwitchCase="''" class="card-text">No description provided</p>
          <p *ngSwitchDefault class="card-text">{{items.details}}</p>
          <p class="lead">
            <a class="btn btn-outline-dark btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
  </div>
</div>
