.wrapper {
  background-image: url('src/assets/jpg/backgrounds/scroll-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-jumbotron {
  background: no-repeat center;
  background-size: cover;
  filter: grayscale(80%);
  height: calc(41em - 42.3px);
  border-radius: 0;
}

.container-body {
  background: no-repeat center;
  background-size: cover;
  padding-top: 7em;
  height: 30em;
  box-shadow: 0 0 10px 0 black;
}

.btn-custom-star {
  z-index: 5;
  margin-top: -12em;
  color: #eff0f0;
  font-weight: bolder;
  border: none;
  width: 32px;
  height: 32px;
  text-shadow: 0 0 2px black;
}

.text-header-main {
  color: #eff0f0;
  font-size: 72px;
  text-transform:uppercase;
  text-shadow: 0 0 5px black;
}

.lead {
  color: #eff0f0;
  font-style: italic;
  text-shadow: 0 0 5px black;
  padding-right: 3em;
  padding-left: 3em;
}

.container-buttons {
  padding-bottom: 5em;
  margin-top: -8em;
}

.progress {
  position: relative;
  z-index: 1;
  margin-top: -5em;
  margin-left: auto;
  width: 15em;
  height: 5px;
  background-color: #ff4f52;
  margin-right: 4em;
  text-shadow: 0 0 2px black;
  filter: grayscale(0) !important;
}

.success {
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
  margin-top: -2em;
  margin-left: auto;
  color: #007bff;
  font-weight: bolder;
  margin-right: 9em;
  text-shadow: 0 0 2px black;
}

.divider-1 {
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
  margin-top: -1.5em;
  margin-left: auto;
  margin-right: 8.3em;
  background: #007bff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider-2 {
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
  margin-top: -1.5em;
  margin-left: auto;
  margin-right: 8.2em;
  background: #ff4f52;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error {
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
  margin-top: -1.5em;
  margin-left: auto;
  color: #ff4f52;
  font-weight: bolder;
  margin-right: 6.8em;
  text-shadow: 0 0 2px black;
}

.progress-bar {
  background-color: #007bff;
  text-shadow: 0 0 2px black;
}

.btn-custom-success {
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
  margin-top: -0.8em;
  margin-left: auto;
  color: #007bff;
  font-weight: bolder;
  margin-right: 15em;
  text-shadow: 0 0 2px black;
  width: 32px;
  height: 32px;
}

.btn-custom-error {
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
  margin-top: -2em;
  margin-left: auto;
  font-weight: bolder;
  margin-right: 0;
  border: none;
  width: 32px;
  height: 32px;
  text-shadow: 0 0 2px black;
}

.spacer {
  background: linear-gradient(#111217, #050505);
  height: 9px;
}

.rocket-section {
  height: 30em;
}

.rocket-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttons-head {
  margin-left: -12px;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr;
}

.rocket-table {
  background: none;
}

.td-head {
  text-transform:uppercase;
  text-shadow: 0 0 2px black;
  font-weight: bolder;
}


.td-content {
  text-shadow: 0 0 2px black;
  font-weight: bolder;
}

.td-uppercase {
  text-shadow: 0 0 2px black;
  font-weight: bolder;
  text-transform:uppercase;
}

.td-2 {
  color: #9b9c9c;
}

.button-rocket {
  font-size: 17px;
  font-weight: bolder;
  text-transform:uppercase;
  text-shadow: 0 0 5px black;
  color: #9b9c9c;
}

.button-rocket:hover {
  color: #eff0f0;
}

.button-rocket:focus {
  box-shadow: none;
}

.button-rocket-active {
  color: #eff0f0;
}

.button-2 {
  min-width: 140px;
}

.button-3 {
  min-width: 165px;
}

.button-divider {
  font-size: 14px;
  font-weight: bolder;
  text-transform:uppercase;
  text-shadow: 0 0 5px black;
  padding-top: 11px;
  color: #9b9c9c;
}

.text-header {
  color: #eff0f0;
  font-size: 18px;
  text-transform:uppercase;
  text-shadow: 0 0 5px black;
}

.text-type {
  color: #eff0f0;
  font-size: 40px;
  text-transform:uppercase;
  text-shadow: 0 0 5px black;
  font-weight: bolder;
}

.rocket-table {
}


.img-rocket-body {
  border: 30px #eff0f0;
  background: #eff0f0;
  margin-top: 4em;
  margin-left: 5em;
  padding: 1em;
  box-shadow: 0 0 5px black;
}

.img-rocket {
  width: 30em;
}

.payloads-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-payloads-body {
  border: 30px #eff0f0;
  background: #eff0f0;
  margin-right: 5em;
  padding: 1em;
  box-shadow: 0 0 5px black;
}

.img-payloads {
  width: 30em;
}

.launchpad-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-details {
  /*overflow: hidden;*/
  /*display: -webkit-box;*/
  /*-webkit-line-clamp: 3;*/
  /*-webkit-box-orient: vertical;*/
  /*line-height: 1.3em;*/
  /*height: 3.95em;*/
}

.img-launchpad-body {
  border: 30px #eff0f0;
  background: #eff0f0;
  margin-top: 4em;
  margin-left: 5em;
  padding: 1em;
  box-shadow: 0 0 5px black;
}

.img-launchpad {
  width: 30em;
}

.comment-content-active {
  margin-top: -32px;
}

.commented-section {
  color: #eff0f0;
  box-shadow: 0 0 2px #eff0f0;
  text-shadow: 0 0 5px black;
  border-radius: 3px;
  padding: 15px 20px 5px;
}

.commented-section-child {
  color: #eff0f0;
  box-shadow: none;
  text-shadow: 0 0 5px black;
  padding: 0 20px 5px;
}

.header-input {
  background: none;
  border-width: 0 0 2px 0;
  border-color: #eff0f0;
  border-radius: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #eff0f0;
  resize: none;
  overflow: hidden;
  position: relative;
}

.header-input:focus, .header-input:active {
  box-shadow: none;
  color: #eff0f0;
}

.header-input:placeholder-shown {
  box-shadow: none;
  text-shadow: 0 0 5px black;
  color: #eff0f0;
  border-color: #eff0f0 !important;
}

.keeper {
  color: transparent;
  border: none;
  background: none;
}

.btn-cancel, .btn-comment {
  margin-top: -115px;
}

.btn-comment:focus, .btn-cancel:focus {
  box-shadow: none;
}

.mr-2 {
  font-weight: bolder;
  text-shadow: 0 0 5px black;
}

.mt-1 {
  color: #9b9c9c;
  text-shadow: 0 0 5px black;
}

.mt-1:focus {
  box-shadow: none;
}

.mb-1 {
  color: #9b9c9c;
  text-shadow: 0 0 5px black;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 7px;
  background-color: #eff0f0;
  border-radius: 50%;
  display: inline-block;
}

.show-body:focus, .hide-body:focus {
  box-shadow: none;
}

.img-sort {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}
