<div class="wrapper">
  <div class="content">
    <section class="news">
      <div class="jumbotron jumbotron-fluid bg-white">
        <div class="container">
          <br>
          <h1 class="display-4">DRAGON DOCKING SIMULATOR</h1>
          <p class="lead">Dragon is designed to autonomously dock and undock with the International Space Station.</p>
          <hr class="my-4">
          <p>The crew can take manual control of the spacecraft if necessary.</p>
          <p class="lead">
            <a class="btn btn-outline-dark btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </section>
    <section class="mission">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <br>
          <h1 class="display-4">CREW-1 MISSION</h1>
          <p class="lead">Crew-1 is the first of three scheduled Dragon human spaceflights over the course of 2020 and 2021.</p>
          <hr class="my-4">
          <p>Watch the Crew-1 mission from the beginning.</p>
          <p class="lead">
            <a class="btn btn-outline-dark btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </section>
    <section class="starship">
      <div class="jumbotron jumbotron-fluid bg-white">
        <div class="container">
          <br>
          <h1 class="display-4">STARSHIP</h1>
          <p class="lead">Starship is SpaceX’s fully reusable transportation system designed to carry both crew and cargo to the Earth’s orbit, the Moon, Mars, and beyond.</p>
          <hr class="my-4">
          <p>The Starship prototype descended under active aerodynamic control, accomplished by independent movement of two forward and two aft flaps on the vehicle.</p>
          <p class="lead">
            <a class="btn btn-outline-dark btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </section>
    <section class="launches">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <br>
          <h1 class="display-4">STARLINK MISSION</h1>
          <p class="lead">Starlink is now delivering initial beta service both domestically and internationally and will continue expansion to near global coverage of the populated world in 2021.</p>
          <hr class="my-4">
          <p>The Falcon 9 first stage rocket booster supporting this mission previously flew on five missions</p>
          <p class="lead">
            <a class="btn btn-outline-dark btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
