.wrapper {
  background: #252626;
}

ngb-carousel {
  display: flex !important;
  width: 100%;
  height: calc(41em - 42.3px);
  background: none;
  margin-bottom: -40px;
}

.jumbotron-launch-1 {
  background: no-repeat bottom;
  background-size: cover;
  padding: 7em 10em 24em;
  box-shadow: 0 0 5px 0 black;
}

.title-launch-1 {
  display: block;
  text-align:left;
  line-height:150%;
  font-size: 4em;
  text-transform:uppercase;
}
.lead-1 {
  display: block;
  text-align:left;
  font-size: 2em;
}

.jumbotron-launch-2 {
  background: no-repeat bottom;
  background-size: cover;
  padding: 7em 10em 24em;
  box-shadow: 0 0 5px 0 black;
}

.title-launch-2 {
  display: block;
  text-align:center;
  line-height:150%;
  font-size: 4em;
  text-transform:uppercase;
}

.lead-2 {
  display: block;
  text-align:center;
  font-size: 2em;
}

.jumbotron-launch-3 {
  background: no-repeat bottom;
  background-size: cover;
  padding: 7em 10em 24em;
  box-shadow: 0 0 5px 0 black;
}

.title-launch-3 {
  display: block;
  text-align:right;
  line-height:150%;
  font-size: 4em;
  text-transform:uppercase;
}

.lead-3 {
  display: block;
  text-align:right;
  font-size: 2em;
}

.btn-launch {
  position: relative;
  z-index: 1;
  margin-top: -5em;
  text-shadow: 0 0 2px black;
}

.btn-launch:hover {
  background: #eff0f0;
  text-shadow: none;
}

.article {
  height: auto;
}

.jumbotron-event {
  background: no-repeat center;
  background-size: cover;
  background-color: #252626;
  margin-bottom: 0;
  box-shadow: inset 0 0 10px 0 black;
  /*filter: grayscale(100%);*/
}

.h1-event {
  text-shadow: 0 0 10px black;
  display: block;
  font-size: 3em;
  text-transform:uppercase;
}

.lead-event {
  text-shadow: 0 0 10px black;
}

.hr-event {
  text-shadow: 0 0 10px black;
}

.decs-event {
  text-shadow: 0 0 10px black;
}

.btn-outline-dark:hover {
  background: #252626;
}

