<div class="wrapper">
  <label class="text-white-50" id="joinLabel">Join SpaceY</label>
  <label class="text-light" id="createLabel">Create your account</label>
  <main class="content section">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <input type="text" (ngModelChange)="loginChange()" pattern="{{loginPattern}}" formControlName="login" class="form-control input"
               aria-describedby="loginHelp" placeholder="Login"
               required autofocus>
        <hr class="line" *ngIf="isLoginInvalid">
        <div *ngIf="(login.invalid && login.value != '' && (login.dirty || login.touched)) || isLoginInvalid" class="alert alert-danger">
          <div>Login may only contain alphanumeric characters or single hyphens, and cannot begin with a hyphen</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" (ngModelChange)="emailChange()" pattern="{{emailPattern}}" class="form-control input" formControlName="email"
               aria-describedby="emailHelp"
               placeholder="Email"
               required>
        <hr class="line" *ngIf="isEmailInvalid">
        <div *ngIf="(email.invalid && email.value != '' && (email.dirty || email.touched)) || isEmailInvalid" class="alert alert-danger">
          <div>Email is invalid</div>
        </div>
      </div>
      <div class="form-group">
        <div class="contact-form row">
          <div class="form-field col-lg-6">
            <input type="password" (ngModelChange)="passwordChange()" pattern="{{passwordPattern}}" formControlName="password"
                   class="form-control input" placeholder="Password" required>
            <hr class="line" *ngIf="isPasswordInvalid">
            <div *ngIf="(password.invalid && password.value != '' && (password.dirty || password.touched)) || isPasswordInvalid"
                 class="alert alert-danger alertPassword">
              <div>Password is invalid (minimum is 8 characters), needs at least 1 number and 1 letter</div>
            </div>
          </div>
          <div class="form-field col-lg-6">
            <input  type="password" (ngModelChange)="passwordRepeatChange()" pattern="{{passwordPattern}}" formControlName="passwordRepeat"
                   class="form-control input" placeholder="Repeat password" required>
            <hr class="line" *ngIf="isPasswordRepeatInvalid">
            <div *ngIf="(passwordRepeat.value != password.value && passwordRepeat.value != '' && (passwordRepeat.dirty || passwordRepeat.touched)) || isPasswordRepeatInvalid"
                 class="alert alert-danger alertPassword">
              <div>Please make sure your passwords match</div>
            </div>
          </div>
          <label class="password-label text-white-50">Make sure it's at least 8 characters including a number and a
            letter. </label>
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label text-light" for="check">Remember me</label>
      </div>
      <button type="submit" class="btn btn-outline-light btn-lg" (click)="submit($event)">Create account</button>
    </form>
  </main>
</div>
