.wrapper {
  align-content: center;
  height: calc(100vh - 115.3px);
  background: #252626;
  /*background: radial-gradient(#252626, black);*/
  /*background: no-repeat url("../../assets/jpg/background.jpg");*/
  /*background-size: cover;*/
}

.content {
  border-width: 10px;
  border-color: #eff0f0;
  padding-top: 5vh;
  margin: auto;
  width: 28%;
}

#joinLabel {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 1em;
  padding-top: 10vh;
}

#createLabel {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 3em;
  margin-top: -8px;
}

#loginInput, #emailInput, #passwordInput, .passwordInputRepeat {
  background: none;
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #eff0f0;
  border-radius: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #eff0f0;
}

#loginInput:focus,
#passwordInput:focus,
#emailInput:focus,
.passwordInputRepeat:focus,
#loginInput:active,
#passwordInput:active,
.passwordInputRepeat:active,
#emailInput:active {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  color: #eff0f0;
}

#loginInput:placeholder-shown,
#passwordInput:placeholder-shown,
#emailInput:placeholder-shown,
.passwordInputRepeat:placeholder-shown {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  color: #eff0f0 !important;
  border-color: #eff0f0 !important;
}

#loginInput.ng-invalid:required,
#emailInput.ng-invalid:required,
#passwordInput.ng-invalid:required,
.passwordInputRepeat.ng-invalid:required {
  border-color: #ff4f52;
  color: #ff4f52;
}

.alert {
  background: #252626;
  color: #ff4f52;
  border-color: #ff4f52;
  font-size: 0.8em;
  z-index: 1;
  margin-top: 5px;
  width: 28%;
  position: fixed;
}

.alertPassword {
  width: calc(14% - 15px);
}

.password-label {
  display: block;
  text-align: justify-all;
  padding-top: 1vh;
  line-height: 150%;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 20px;
}

.form-check {
  margin-top: -10px;
  margin-left: -20px;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

input[type="checkbox"] + label:hover::before {
  background-color: #1d1d1d;
}

.btn {
  margin-top: 11px;
  width: 100%;
}

.btn:focus {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
